<!DOCTYPE html>
<html ng-app="mainApp">
<head>
<meta charset="UTF-8">
<title>ChatMe | Dashboard</title>
<script type="text/javascript" 
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script type="text/javascript" 
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script>
<script type="text/javascript" 
	src="http://cdn.sockjs.org/sockjs-0.3.4.min.js"></script>
<script type="text/javascript" 
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/service/commonService.js"></script>	
<script type="text/javascript" src="js/service/messengerService.js"></script>
<script type="text/javascript" src="js/service/channelService.js"></script>
<script type="text/javascript" src="js/service/socketService.js"></script>
<script type="text/javascript" src="js/service/userService.js"></script>
<script type="text/javascript" src="js/controller/main.js"></script>
<script type="text/javascript" src="js/service/mainService.js"></script>
<link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="mainController" ng-init="init()">
	<p>Logged in as <b>{{user.userName}}</b></p>
	<button type="button" class="hyperlinkButton" ng-click="logout()">Logout!</button>
	<div style="text-align:left;margin-top:20px;">
		<div style="margin:20px;float:right;">
			<table>
				<tr>
					<th>
						<div id="selected-user-info">
							{{selectedUser.userName}}
						</div>
						<div id="selected-user-status" ng-style="{color:selectedUser.USER_STATUS_COLOR}">
							{{selectedUser.status}}
						</div>
					</th>
				</tr>
				<tr>
					<td style="height:200px;">
						<div style="width: 790px;height: 200px;max-height: 200px;overflow-y:scroll;"
						 id="message-history">
							{{messageHistory}}
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<textarea id="chat-text-area"
							style="height:100px;width:790px;" ng-model="message" 
							ng-change="sendUserTypingStatus()"></textarea><br>
						<button ng-click="sendMessage()">
							Send
						</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="left-nav">
			<div class="userList">
				<b>List of Users:</b><br>
				<table>
					<tr>
						<th>Users</th>
					</tr>
					<tr ng-repeat="record in userList" ng-show="record.userName != user.userName">
						<td>
							<button type="button" class="hyperlinkButton"
							ng-click="selectUser(record)">{{record.userName}}</button>
							<span class="label label-danger" 
							ng-show="record.unReadMessageCounter > 0">
							{{record.unReadMessageCounter}}</span>
						</td>
					</tr>
				</table>
			</div>
			<br>
			<div class="channelList">
				<b>List of Channels:</b><button type="button"  class="hyperlinkButton" 
			ng-click="createNewChannel()" title="Create New Channel">+</button><br>
				<table>
					<tr>
						<th>Channels</th>
					</tr>
					<tr ng-repeat="channel in channelList">
						<td>
							<button type="button" class="hyperlinkButton"
							ng-click="selectChannel(channel)">{{channel}}</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>	