@charset "UTF-8";
table, th, td{
	border : 1px solid black;
	max-width: 800px;
	word-wrap: break-word;
}
th,td,tbody,thead,tr{
	max-height: 300px;
	overflow-y: auto;
}
.hyperlinkButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-decoration:underline;
    color: blue;
}

.chatBox {
	float:right;
}

.userList, .channelList {
	float:left;
}